<div class="table">
    Current Player : {{ gameService.currentPlayer.name }}
    <table>
        <thead>
            <tr>
                <td>Player</td>
                <td *ngFor="let score of scores">{{ score }}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ player.name }}</td>
                <td *ngFor="let score of scores">
                    <button [disabled]="player.scoreTable[score].filled" (click)="register(score, 20)">
                        {{ player.scoreTable[score].filled ? player.scoreTable[score].val : '' }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

