#scores {
  td.score {
    min-width: 50px;
    text-align: center;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    &.active {
      border-top: 1px solid #3db062;
      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
    }

  }
}