<app-dice [initialDiceCount]="5" [diceFaces]="6" (throw)="onThrow()"></app-dice>
<div class="table">
    Current Player : {{ gameService.currentPlayer.name }}
    <table>
        <thead>
            <tr>
                <td>Player</td>
                <td *ngFor="let score of scores">{{ score }}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ player.name }}</td>
                <td *ngFor="let score of scores">
                    <button [disabled]="shouldBeDisabled(score, player)" (click)="register(score, possibleScoreEntries[score])">
                        {{ toBeDisplayed(score, player) }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

