<div class="table container text-center">
    <h3>C'est au tour de : {{ gameService.currentPlayer.name }}</h3>
    <app-dice [initialDiceCount]="5" [diceFaces]="6" (throw)="onThrow()"></app-dice>
    <table id="scores" class="mx-auto my-4">
        <thead>
            <tr>
                <td>Joueur</td>
                <td *ngFor="let score of scores" [class.font-italic]="rulesService.isCalculated(score)">{{ score }}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td class="player-name" [class.active]="player.name === gameService.currentPlayer.name">{{ player.name }}</td>
                <td *ngFor="let score of scores" (click)="register(score, possibleScoreEntries[score], player)" [class.font-italic]="rulesService.isCalculated(score)" [class.active]="!shouldBeDisabled(score, player)" class="score">
                    {{ toBeDisplayed(score, player) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

